---
import "@acab/reset.css";
import "../styles/common.css";

import { getCollection } from "astro:content";
import { compareDesc } from "date-fns";
import Head from "../components/Head.astro";
import Layout from "../components/Layout.astro";
import Post from "../components/Post.astro";

const entries = await getCollection("posts");

entries.sort((x, y) => {
  return compareDesc(new Date(x.data.release), new Date(y.data.release));
});
---

<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <style>
      .post {
        margin: 1rem 0;
      }
    </style>
    <Head description="数理工学ノート" permalink="" />
  </head>
  <body>
    <Layout>
      <h2>記事一覧</h2>
      {
        entries.map((entry) => (
          <div class="post">
            <Post {...entry} />
          </div>
        ))
      }
    </Layout>
  </body>
</html>
